:host {
  display: block;
}

.single-checkbox {
  width: 12.5%;
  display: inline-block;

  label, input {
    margin: 0px;
    height: 22px;
    line-height: 22px;
  }

  input {
    float: left;
    margin-right: 5px;
  }
}
