:host { }

.image {
  float: left;
}

.info {
  margin: 0 50px 0 550px;
}

.author {
  float: right;
  width: 150px;
  text-align: center;
}

.avatar {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}
