<div class="container" *ngIf="book">
  <div class="image">
    <img src="{{ book.cover }}" />
  </div>
  <div class="info">
    <div class="author">
      <img class="avatar" src="{{ book.author.avatar }}" />
      <div>{{ book.author.name }}</div>
    </div>
    <h1>{{ book.name }}</h1>
    <h2>Facts</h2>
    <ul>
      <li>Publish date: {{ book.published | date:medium }}</li>
      <li>Number of Likes: {{ book.likes }}</li>
    </ul>
    <h2>Contents</h2>
    <p *ngFor="let paragraph of book.introduction">{{ paragraph.content }}</p>
    <h2>Recommended reading</h2>
    <ul>
      <li *ngFor="let rec of recommended"><a [routerLink]="['/book', rec.id]">{{ rec.name }}</a></li>
    </ul>
  </div>
</div>
